:root {
    --bg-color: #ECEFF1;        /* Soft gray-blue */
    --score-color: #3F51B5;     /* Indigo for the score bar */
    --section-bg-color: #E8EAF6;/* Light indigo for result & choices */
    --border-color: #dcdcdc;
    --accent-color: #ffca28;
    --text-color: #333333;
    --heading-color: #444444;
}

/* Base Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#score,
#result,
#choices {
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--section-bg-color);
}

#score {
    background-color: var(--score-color); /* #4caf50 */
    color: #fff;
}

#score h2 {
    margin-bottom: 5px;
}

#score p {
    margin-top: 0;
}

#choices {
    flex-direction: row;
}

#choices img {
    width: 120px;
    height: 120px;
    margin: 0 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#choices img:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#result-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100vw;
    margin-top: -50px;
}

#result-icons img {
    width: 100px;
    height: 100px;
}

#player-choice,
#computer-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}